h1{
    font-size: 24px;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 16px;
}

#emergency-bg-color{
    background-color: #F2F2F2;
}

.txt-color1{
  color: #0D6EFD;
}

.txt-color2{
  color: #F03148;
}

.carousel-indicators{
  position: relative;
  margin-top: 3%;
}

#carouselExampleIndicators li{
 background-color: #D9D9D9; 
}

.text-top-color{
  color: white;
}

.name-sections{
  text-decoration: none;
  color: black;
}


.carousel-text-shadow{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.conteudos{
  width: 163.5px;
  height: 101px;
  background: #FFFFFF;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}

.col-conteudos{
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}


@media (max-width: 376px) {
    .response img {
      width: 98%;
    }
  }


.modalOne .modal{
  top: 1%;
}
.modalOne .modal-content{
  width: 50%;
  left: 48%;
}

.modalOne .modal-items{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
}

.modalTwo .modal-content{
  margin-top: 50%;
}

.items-modalTwo{
  display: flex;
  justify-content: end;
  gap: 33px;
}




  /* .accordion-button:not(.collapsed)::after {
    
    background-image: url("Assets/images/plus.svg"); 
    
  }
  .accordion-button::after {
    
    background-image: url("Assets/images/plus.svg"); 
    
  } */